<form method="post" action="{{ path('produit_approve', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to approve this item?');">
    <input type="hidden" name="_method" value="APPROVE">
    <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ produit.id) }}">
    <button class="btn">Approuver</button>
</form>
