{% extends 'basemenu.html.twig' %}

{% block title %}Nos Oeuvres{% endblock %}

{% block contentPage %}
 <div class="bg-light p-3">
        <h1>{{oeuvre.nomProduit}} </h1>
    </div>

    <div >
       <h1>Descritpion </h1>
        <p>{{oeuvre.descriptif}} </p>
    </div>

{% endblock %}