{% extends 'base.html.twig' %}

{% block title %}Edit Paragraphe{% endblock %}

{% block body %}
    <h1>Edit Paragraphe</h1>

    {{ include('paragraphe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('paragraphe_index') }}">back to list</a>

    {{ include('paragraphe/_delete_form.html.twig') }}
{% endblock %}
