{% extends 'base.html.twig' %}

{% block title %}New Paragraphe{% endblock %}

{% block body %}
    <h1>Create new Paragraphe</h1>

    {{ include('paragraphe/_form.html.twig') }}

    <a href="{{ path('paragraphe_index') }}">back to list</a>
{% endblock %}
