{% extends 'basemenu.html.twig' %}

{% block title %}New Couleur{% endblock %}

{% block contentPage %}
    <h1>Create new Couleur</h1>

    {{ include('couleur/_form.html.twig') }}

    <a href="{{ path('couleur_index') }}">back to list</a>
{% endblock %}
