<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Voulez-vous supprimer la commande ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <span class="glyphicon glyphicon-trash text-danger"></span>
    <button class="btn">Supprimer commande</button>
</form>
