{% extends 'basemenu.html.twig' %}

{% block title %}Ma Commande{% endblock %}

{% block contentPage %}
     <h1>Edit Commande</h1>
//AFFICHER NOM CLIENT
//AFFICHER REFERENCE COMMANDE
//AFFICHER DATE COMMANDE
    {{ include('commande/_form2.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('panier') }}">Retour au panier</a>

{% endblock %}
