{% extends 'basemenu.html.twig' %}

{% block title %}Ma Commande{% endblock %}

{% block contentPage %}

    {{ include('commande/_form2.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('panier') }}">Retour au panier</a>

{% endblock %}
