<form method="post" action="{{ path('produit_approve', {'id': produit.id}) }}" onsubmit="return confirm('Voulez-vous approuver ce produit?');">
    <input type="hidden" name="_method" value="APPROVE">
    <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ produit.id) }}">
    <span class="glyphicon glyphicon-thumbs-up text-success"></span>
    <button class="btn">Approuver</button>
</form>
