<form method="post" action="{{ path('commander_stock', {'id': produit.id}) }}" onsubmit="return confirm('Vous confirmez vouloir commander le stock?');">
    <input type="hidden" name="_method" value="STOCK">
    <input type="hidden" name="_token" value="{{ csrf_token('commander_stock' ~ produit.id) }}">
    
    <button class="btn">Commander stock</button>
</form>
