{% extends 'base.html.twig' %}

{% block title %}New Typelivraison{% endblock %}

{% block body %}
    <h1>Create new Typelivraison</h1>

    {{ include('typelivraison/_form.html.twig') }}

    <a href="{{ path('typelivraison_index') }}">back to list</a>
{% endblock %}
