{% extends 'base.html.twig' %}

{% block title %}Edit TypeUtilisateur{% endblock %}

{% block body %}
    <h1>Edit TypeUtilisateur</h1>

    {{ include('type_utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_utilisateur_index') }}">back to list</a>

    {{ include('type_utilisateur/_delete_form.html.twig') }}
{% endblock %}
