<form method="post" action="{{ path('photo_paragraphe_delete', {'id': photo_paragraphe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo_paragraphe.id) }}">
    <button class="btn">Delete</button>
</form>
