{{ form_start(form) }}
<h3>Artiste à la une</h3>
<div class="admin">
    
    {{ form_row(form.alaune.vars.prototype) }}
    
</div>
   
    <button class="btn">{{ button_label|default('Choisir') }}</button>
{{ form_end(form) }}