{% extends 'basemenu.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block contentPage %}
    <h1>Boutique index</h1>

<table class="table">
        <thead>           
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>
                    {{ produit.miniature }}
                    {{ produit.nomProduit }}
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">ajout</a>
                </td>
            </tr>
        {% else %}
            <tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
