{% extends 'basemenu.html.twig' %}

{% block title %}Nos Artistes{% endblock %}

{% block contentPage %}
 <div class="bg-light p-3">
        <h1 align="center">{{artiste.prenom}} {{artiste.nom}}</h1>
     {% for categorie in artiste.categories %}
    <h4 align="center">{{categorie.nom}} </h4></br>
    {%endfor %}
    </div>
<div class="content">
    <div class="text">
       <h2>Biographie </h2>
        <p>{{artiste.biography}} </p>
    </div>
</div>

{% endblock %}